body {
  padding: 10px;
}

#app {
  overflow: auto;
}

td {
  max-width: 16.66vw;
  word-wrap: break-word;
}

div.tags {
  display: inline-flex;
  margin-bottom: 0px;
}

div.tags .tag {
  margin-bottom: 0px;
}

.label,
.inline {
  display: inline-block;
}
